## Preprocessing

In [81]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [82]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [83]:
# Determine the number of unique values in each column.
app_counts = application_df.nunique()
app_counts

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [84]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [85]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts < 300].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [86]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [87]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [88]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 750].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [89]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

In [90]:
# Split our preprocessed data into our features and target arrays
x= application_df.drop('IS_SUCCESSFUL', axis=1).values
y= application_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=42)

In [91]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(x_train)

# Scale the data
X_train_scaled = X_scaler.transform(x_train)
X_test_scaled = X_scaler.transform(x_test)

## Compile, Train and Evaluate the Model

In [92]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 20


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='relu'))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_18 (Dense)            (None, 80)                4240

 dense_19 (Dense)            (None, 30)                2430

 dense_20 (Dense)            (None, 20)                620

 dense_21 (Dense)            (None, 1)                 21

=================================================================
Total params: 7,311
Trainable params: 7,311
Non-trainable params: 0
_________________________________________________________________

In [93]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [94]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train,validation_split=0.15, epochs=30)

Epoch 1/30
684/684 [==============================] - 20s 17ms/step - loss: 0.5745 - accuracy: 0.7153 - val_loss: 0.5482 - val_accuracy: 0.7380
Epoch 2/30
684/684 [==============================] - 10s 14ms/step - loss: 0.5554 - accuracy: 0.7278 - val_loss: 0.5487 - val_accuracy: 0.7323
Epoch 3/30
684/684 [==============================] - 10s 15ms/step - loss: 0.5511 - accuracy: 0.7298 - val_loss: 0.5477 - val_accuracy: 0.7331
Epoch 4/30
684/684 [==============================] - 11s 16ms/step - loss: 0.5501 - accuracy: 0.7297 - val_loss: 0.5496 - val_accuracy: 0.7334
Epoch 5/30
684/684 [==============================] - 10s 15ms/step - loss: 0.5488 - accuracy: 0.7310 - val_loss: 0.5465 - val_accuracy: 0.7336
Epoch 6/30
684/684 [==============================] - 10s 14ms/step - loss: 0.5477 - accuracy: 0.7332 - val_loss: 0.5463 - val_accuracy: 0.7339
Epoch 7/30
684/684 [==============================] - 13s 19ms/step - loss: 0.5475 - accuracy: 0.7325 - val_loss: 0.5446 - val_accuracy: 0.7349
Epoch 8/30
684/684 [==============================] - 11s 16ms/step - loss: 0.5463 - accuracy: 0.7332 - val_loss: 0.5449 - val_accuracy: 0.7326
Epoch 9/30
684/684 [==============================] - 9s 14ms/step - loss: 0.5454 - accuracy: 0.7340 - val_loss: 0.5455 - val_accuracy: 0.7344
Epoch 10/30
684/684 [==============================] - 9s 14ms/step - loss: 0.5453 - accuracy: 0.7332 - val_loss: 0.5483 - val_accuracy: 0.7336
Epoch 11/30
684/684 [==============================] - 10s 15ms/step - loss: 0.5447 - accuracy: 0.7325 - val_loss: 0.5451 - val_accuracy: 0.7357
Epoch 12/30
684/684 [==============================] - 9s 14ms/step - loss: 0.5446 - accuracy: 0.7335 - val_loss: 0.5447 - val_accuracy: 0.7339
Epoch 13/30
684/684 [==============================] - 9s 14ms/step - loss: 0.5442 - accuracy: 0.7330 - val_loss: 0.5472 - val_accuracy: 0.7344
Epoch 14/30
684/684 [==============================] - 11s 17ms/step - loss: 0.5438 - accuracy: 0.7340 - val_loss: 0.5469 - val_accuracy: 0.7313
Epoch 15/30
684/684 [==============================] - 10s 15ms/step - loss: 0.5436 - accuracy: 0.7334 - val_loss: 0.5439 - val_accuracy: 0.7352
Epoch 16/30
684/684 [==============================] - 13s 20ms/step - loss: 0.5426 - accuracy: 0.7339 - val_loss: 0.5470 - val_accuracy: 0.7357
Epoch 17/30
684/684 [==============================] - 13s 18ms/step - loss: 0.5425 - accuracy: 0.7348 - val_loss: 0.5444 - val_accuracy: 0.7346
Epoch 18/30
684/684 [==============================] - 15s 22ms/step - loss: 0.5423 - accuracy: 0.7350 - val_loss: 0.5423 - val_accuracy: 0.7370
Epoch 19/30
684/684 [==============================] - 12s 17ms/step - loss: 0.5417 - accuracy: 0.7340 - val_loss: 0.5465 - val_accuracy: 0.7318
Epoch 20/30
684/684 [==============================] - 10s 15ms/step - loss: 0.5421 - accuracy: 0.7347 - val_loss: 0.5458 - val_accuracy: 0.7339
Epoch 21/30
684/684 [==============================] - 10s 14ms/step - loss: 0.5415 - accuracy: 0.7353 - val_loss: 0.5486 - val_accuracy: 0.7349
Epoch 22/30
684/684 [==============================] - 11s 16ms/step - loss: 0.5413 - accuracy: 0.7354 - val_loss: 0.5435 - val_accuracy: 0.7354
Epoch 23/30
684/684 [==============================] - 12s 18ms/step - loss: 0.5410 - accuracy: 0.7353 - val_loss: 0.5468 - val_accuracy: 0.7349
Epoch 24/30
684/684 [==============================] - 10s 15ms/step - loss: 0.5410 - accuracy: 0.7364 - val_loss: 0.5444 - val_accuracy: 0.7362
Epoch 25/30
684/684 [==============================] - 9s 14ms/step - loss: 0.5405 - accuracy: 0.7354 - val_loss: 0.5458 - val_accuracy: 0.7357
Epoch 26/30
684/684 [==============================] - 10s 14ms/step - loss: 0.5401 - accuracy: 0.7362 - val_loss: 0.5457 - val_accuracy: 0.7339
Epoch 27/30
684/684 [==============================] - 10s 14ms/step - loss: 0.5398 - accuracy: 0.7362 - val_loss: 0.5445 - val_accuracy: 0.7365
Epoch 28/30
684/684 [==============================] - 10s 15ms/step - loss: 0.5394 - accuracy: 0.7357 - val_loss: 0.5420 - val_accuracy: 0.7354
Epoch 29/30
684/684 [==============================] - 10s 14ms/step - loss: 0.5391 - accuracy: 0.7359 - val_loss: 0.5441 - val_accuracy: 0.7334
Epoch 30/30
684/684 [==============================] - 10s 14ms/step - loss: 0.5395 - accuracy: 0.7377 - val_loss: 0.5449 - val_accuracy: 0.7370

In [95]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 2s - loss: 0.5583 - accuracy: 0.7284 - 2s/epoch - 8ms/step
Loss: 0.5583060383796692, Accuracy: 0.728396475315094

In [96]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")